h1{
  text-align: center;
  color: whitesmoke;
}
body {
  background-image: url("images.jpeg") ;
}
body {
  color: whitesmoke;
}
 p style text-align: ;{ text-align: center;
  vertical-align: center;
}
image {
  display: block;
  margin: auto;
}